[submodule "software/grenedalf"]
	path = software/grenedalf
	url = https://github.com/lczech/grenedalf.git
[submodule "software/popoolation"]
	path = software/popoolation
	url = https://github.com/lczech/popoolation.git
[submodule "software/popoolation2"]
	path = software/popoolation2
	url = https://github.com/lczech/popoolation2.git
[submodule "software/npstat"]
	path = software/npstat
	url = git@github.com:lucaferretti/npstat.git
	ignore = dirty
